.events {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: medium;
}
